.SpecialOffers {
  width: 90%;
  margin: 220px auto 200px auto;
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.item {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 30px 25px;
  background-color: #e8eff1;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.image {
  width: 30%;
}

.button {
  height: 46px;
  width: 95%;
  color: #00b2ac;
  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  font-size: 20px;
 }


.button:hover {
  color: #fff;
  background-color: #00b2ac;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .SpecialOffers {
    margin: 200px auto 200px auto;
  }
  .offers {
    flex-direction: column;
    justify-content: center;
  }
  .item {
    width: 80%;
    margin: 5px auto;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .button {
    font-size: 15px;
  }
}
